@import "../../../css/src/lib/base-includes";

.block-activity-staff {
	margin-bottom: rem(75);

	@include media-breakpoint-up (md) {
		margin-bottom: rem(135);
	}

	&__title {
		margin-bottom: rem(37);

		text-align: center;

		@include media-breakpoint-up(lg) {
			margin-bottom: rem(73);
		}
	}

	.activities-posts {
		gap: rem(32);

		@include media-breakpoint-up(lg) {
			gap: unset;
		}
	}
}