.post-single {
	&__top {
		margin-bottom: rem( 46);

		@include media-breakpoint-up(md) {
			margin-bottom: rem( 75 );
		}
	}

	&__top-content-wrapper {
		text-align: center;
	}

	&__back-link {
		margin: rem( 27 ) 0 rem( 17 );

		@include media-breakpoint-up(md) {
			margin: rem( 53 ) 0 rem( 45 );
			margin-left: rem( 1 );
		}

		i {
			margin-right: rem( 7 );
			&::before {
				font-size: rem( 24 );

				transition: color .2s;
			}
		}

		&:hover,
		&:focus {
			i::before {
				color: paint(accent-variant);
			}
		}
	}

	&__categories {
		margin-bottom: responsive-values( 2 , 8 )!important;

		@include h5;
	}

	&__title {
		margin-top: 0;
	}

	&__tagline {
		position: relative;
		margin-top: responsive-values( 23 , 54 );
		margin-bottom: responsive-values( 77 , 67 );
	}

	&__author {
		display: block;

		margin-bottom: responsive-values( 10 , 15 );

		font-family: $font-austin-pen;
		font-size: responsive-values( 18 , 26 );
		line-height: responsive-values( 26 , 24 );
	}

	&__date {
		display: block;

		font-size: responsive-values( 14 , 16 );
		font-weight: 400;
		line-height: responsive-values( 14 , 28 );
	}

	&__thumbnail {
		@include media-breakpoint-down(md) {
			margin: 0 -20px;
		}
	}

	&__footer {
		margin: rem( 72 ) 0 rem( 80 );

		@include media-breakpoint-up(md) {
			margin: rem( 112 ) 0 rem( 150 );
		}
	}

	&__tags {
		margin-bottom: rem( 22 );

		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}

	&__tags-title {
		margin-bottom: rem( 16 );
	}

	&__tag {
		margin-right: rem( 10 );
		margin-bottom: rem( 10 );

		@include tag;

		&:last-child {
			margin-right: 0;
		}
	}

	.share-icons {
		justify-content: flex-start;

		@include media-breakpoint-up(md) {
			justify-content: flex-end;
		}

		&__link {
			background-color: paint(accent);
			transition: background-color $transition-default;

			&:first-child {
				@include media-breakpoint-down(sm) {
					margin-left: 0;
				}
			}
			span {
				color: paint(text-light);
			}

			&:hover  {
				background-color: paint(accent-variant);
			}
		}
	}
}

.single-post {
	.block-related-posts {
		margin-bottom: 0;

		@include media-breakpoint-down(lg) {
			padding-bottom: rem( 112 );
		}

		+ .main-footer {
			margin-top: 0;
			background-color: paint(neutral-97); ;
		}
	}
}
