h2 + .block-accordion {
    margin-top: 0;
}

.page-accordion {
    margin-top: rem( 36 );
    margin-bottom: rem( 36 );

    @include media-breakpoint-up(md) {
        margin-top: rem( 36 );
        margin-bottom: rem( 80 );
    }
}

.bellow {
    $self: &;

    padding: 0 0 rem( 8 );

    border-top: rem( 1 ) solid paint(neutral-88);

    &:not(.active) {
        &:hover,
        &:focus {
            #{$self}__title h3 {
                color: paint(accent);
            }

            #{$self}__title::after {
                color: paint(accent);
            }
        }
    }

    &:last-of-type {
        border-bottom: rem( 1 ) solid paint(neutral-88);
    }

    p:last-child {
        margin: 0;
    }

    &.active {
        #{ $self }__title::after {
            @include icon-font( $icon-chev-collapse );
        }
    }

    &__content {
        display: none;

        padding: rem( 5 ) rem( 10 ) rem( 35 );

        @include media-breakpoint-up(md) {
            padding: 0 rem( 20 ) rem( 31 );
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;

        padding: rem( 20 ) rem( 10 ) rem( 11 );

        position: relative;

        cursor: pointer;

        transition: all .2s linear;

        @include media-breakpoint-up(md) {
            padding: rem( 35 ) rem( 20 ) rem( 28 );
        }

        h3 {
            margin: 0;

            font-family: $font-base;
            color: paint(text-dark);

            transition: color .2s linear;
        }

        &:after {
            @include icon-font( $icon-chev-expand );
        }
    }
}
